@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@font-face {
  font-family: 'KOFIHDrLEEJWTTF-B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/KOFIHDrLEEJWTTF-B.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
/* App */
.App {
    margin:0px auto;
    font-family: 'Noto Sans KR', sans-serif,'KOFIHDrLEEJWTTF-B';
    
}

/* editor */
.Header{
    width:100%;
    text-align: center;
}
.Login{
    width:100%;
    text-align: center;
}



/*Header 비디오 밝기*/
.hd2 video{
  filter: brightness(80%)
}

.title{
  color:#5e4a48;
  font-weight: bold;
}

.login{
  color:#5e4a48;
  font-weight: bold;
}
button{
  border:2px solid;
  border-color:#5e4a48;
  background-color: white;
  font-weight: bold;
  color:#5e4a48;
}
button:hover{
  background-color:#5e4a48;
  color:white;
}
input{
  border-color:#5e4a48;
  border:2px solid;
  font-weight: bold;
  color:#5e4a48;
}

.ControlMenu{
  border-color:#5e4a48;
  border:2px solid;
  font-weight: bold;
  color:#5e4a48;
}
form input ,textarea{
  border-color:#5e4a48;
  border:2px solid;
  font-weight: bold;
  color:#5e4a48;
}
.inner{
  border-color:#5e4a48;
  border:2px solid;
}
.foot{
  color: #5e4a48;
  font-size: 18px;
  font-weight: bold;
}